/* We want to use same font styles for all inputs on the page */
textarea,
input[type=text] {
    font-family: Arial;
}

input[type=text],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
textarea {
    height: 200px;
}
input#donation {
    width: 60px;
}

.row:not(:first-child) {
    padding-top: 15px;
}

/* Style the label to display next to the inputs */
label {
    padding: 8px 8px 8px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=button],
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:disabled {
    background-color: #ccc;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=button],
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Style error fields */
input:invalid.is-required,
textarea:invalid.is-required,
select:invalid.is-required {
    border: 1px solid red;
}

input[type=checkbox]:invalid {
    outline: 2px solid red;
}

.confirmation-area.is-hidden {
    display: none;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    color: red;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 50px 20px;
    border: 2px solid black;
    width: 60%;
  }